- extends 'base.html'

- block content
  .home
    .marketing
      .row
        .large-4.columns
          %img{src:"/static/img/logo-icon.png"}
        .large-8.columns
          .callout
            %h2 Fluent rewards your customers for promoting your business online.

            .signup
              .row.collapse
                .large-10.mobile-three.columns
                  %input#signup{type:"text", name:"signup", placeholder:"jane.snow@youremail.com"}
                .large-2.mobile-one.columns
                  %a#signup-btn.button.expand.postfix{type:"submit"}
                    .fi-mail.fi-small.fi-inline
                    Signup

            .call-to-action
              %a{href:"https://play.google.com/store/search?q=pub:Get Fluent LLC"}
                %img.app-store{alt:"Get it on Google Play", src:"https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"}

              %img.app-store{alt:"Available on the App Store", src:"/static/img/app_store.png"}

    .how-it-works
      .row
        .large-12.columns
          %h2
            How it all works...

            %ol
              %li Determine a reward level and invite your most loyal customers to join your campaign.
              %li Your influencers tell their friends and family things they like about your business online.
              %li We measure the impact your influncers have on their friends and family.
              %li We reward everyone that participates with a fair share of in-store credit, gift-cards, swag, and more...
              %li Your influencers return to your store to use their credit, and bring their friends along for the ride.
