- extends 'base.html'

- block content
  .business
    .marketing
      .row
        .large-4.columns
          %img{src:"/static/img/logo-icon.png"}
        .large-8.columns
          .callout
            %h2 Thanks for letting us know a little more about you.
            %h3 We'll keep you up to date on our progress leading up to launch.
