- extends 'base.html'

- block content
  .home
    .marketing
      .row
        .large-4.columns
          %img{src:"/static/img/logo-icon.png"}
        .large-8.columns
          .callout
            %h2 We're glad to see you as excited as we are!
            %h3 We haven't launched yet, but we'll keep you up to date on our development. Thanks for signing up!
