@blue: rgb(96, 168, 227);
@green: rgb(7, 177, 81);
@brown: #d6a979;

body {
    background: @brown;
    font-family: nixie-one, serif;
}

a, button, .button {
    font-family: nixie-one, serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: nixie-one, serif;
  font-weight: normal;
}

.fi-xsmall { font-size: 8px; }
.fi-small { font-size: 16px; }
.fi-medium { font-size: 32px; }
.fi-large { font-size: 64px; }
.fi-xlarge { font-size: 128px; }

.fi-inline { display: inline; }

.top-bar-section ul li > a {
  font-family: nixie-one, serif;
}

img.logo {
    height: 32px;
}

.container {
    box-shadow: 1px 1px 3px 1px #333;
}

.footer {
    padding: 10px;
    background-color: #333;
    color: white;
}

.home {
    img.app-store {
        height: 32px;
    }

    .marketing {
        background-color: @blue;
        color: white;
        padding: 80px 0px;

        .callout {
            padding: 20px;
        }

        h1, h2, h3, h4, h5, h6 {
            color: white;
            text-shadow: 0px 1px 1px black;
        }

        input, .button {
            border: 1px solid darken(@green, 10%);
        }

        .button {
            background: @green;
            border-left: none;
        }
    }

    .business-cta {
        padding-left: 10px;
        background-color: @green;

        h1, h2, h3, h4, h5, h6 {
            color: white;
            margin-top: 0px;
            padding: 10px 0px 0px 10px;
        }

        .button {
            margin-bottom: 0px;
        }
    }

    .how-it-works {
        padding: 40px 20px 120px 20px;
        background-color: white;
        color: black;

        h2 {
            color: black;
            text-shadow: 0px 1px 1px #ccc;
        }

        .num {
            margin: 80px 0px 0px 20px;
            padding-left: 46px;
            width: 128px;
            height: 128px;
            border-radius: 3px;
            background-color: @green;
            font-size: 144px;
            font-weight: 600;
            font-family: Verdana, san-serif;
            color: white;
            text-align:center;
        }

        .desc {
            margin-top: 80px;
            display: table;
            height: 128px;
            padding: 5px;

            .text {
                display: table-cell;
                vertical-align: bottom;
                font-size: 23px;
                line-height: 34px;
            }
        }
    }
}

.business {
    img.app-store {
        height: 32px;
    }

    .marketing {
        background-color: @green;
        color: white;
        padding: 80px 0px;

        .callout {
            padding: 20px;
        }

        h1, h2, h3, h4, h5, h6 {
            color: white;
            text-shadow: 0px 1px 1px black;
        }

        input, .button {
            border: 1px solid darken(@blue, 10%);
        }

        .button {
            background: @blue;
            border-left: none;
        }
    }

    .how-it-works {
        padding: 40px 20px 120px 20px;
        background-color: white;
        color: black;

        h2 {
            color: black;
            text-shadow: 0px 1px 1px #ccc;
        }

        .num {
            margin: 80px 0px 0px 20px;
            padding-left: 46px;
            width: 128px;
            height: 128px;
            border-radius: 3px;
            background-color: @green;
            font-size: 144px;
            font-weight: 600;
            font-family: Verdana, san-serif;
            color: white;
            text-align:center;
        }

        .desc {
            margin-top: 80px;
            display: table;
            height: 128px;
            padding: 5px;

            .text {
                display: table-cell;
                vertical-align: bottom;
                font-size: 23px;
                line-height: 34px;
            }
        }
    }

    .survey {
        margin-top: -80px;
        margin-bottom: 0px;
        padding: 20px;
        background-color: white;

        select {
            height: 48px;
        }

        label {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        .button {
            margin-top: 40px;
            color: black;
            border: 1px solid darken(@blue, 10%);
        }
    }
}

.contact {
    padding: 10px;
    background-color: white;
}
