@blue: rgb(96, 168, 227);
@green: rgb(7, 177, 81);
@brown: #d6a979;

body {
    background: @brown;
    font-family: nixie-one, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: nixie-one, serif;
  font-weight: normal;
}

.top-bar-section ul li > a {
  font-family: nixie-one, serif;
}

.container {
    box-shadow: 1px 1px 3px 1px #333;
}

.footer {
    padding: 10px;
    background-color: #333;
    color: white;
}

.home {
    .blue {
        background-color: @blue;
        height: 300px;
    }

    .green {
        background-color: @green;
        height: 300px;
    }

    .white {
        background-color: white;
        height: 300px;
    }
}

.contact {
    padding: 10px;
    background-color: white;
}